@model Contact
<div class="socialContainer col-sm-3">
    <a href="@Model.Facebook" target="_blank" class="fab fa-facebook-square shadeMe removeClass socialIcon"></a>
    <a href="@Model.LinkedIn" target="_blank" class="fab fa-linkedin shadeMe removeClass socialIcon"></a>
    <a href="@Model.GitHub" target="_blank" class="fab fa-github-square shadeMe removeClass socialIcon"></a>
</div>